# .gitignore

tarot

*.swp
.deps
*~

# automake
Makefile

# autoconf
/autom4te.cache
#/aclocal.m4
/compile
#/config/**
#!/config/install-sh
/config.*
!/config.h.in
/configure.in
/stamp-h1

# m4
autom4te.cache
